<div class="course-item" [id]="'course-' + courseItem.id" tabindex="0">
    <h3>{{ courseItem.title }}</h3>
    <p>{{ courseItem.description }}</p>
    
    <div class="course-actions">
        <button 
            class="toggle-subcategories" 
            *ngIf="courseItem.subCategories && courseItem.subCategories.length" 
            (click)="toggleSubCategories()"
            [attr.aria-expanded]="displaySubCategories"
            [attr.aria-controls]="'subcategories-' + courseItem.id"
            [attr.aria-label]="displaySubCategories ? ('courses.hideDetails' | translate) : ('courses.showDetails' | translate)">
            {{ displaySubCategories ? ('courses.hideDetails' | translate) : ('courses.showDetails' | translate) }}
        </button>
    </div>
    
    <div class="subcategories" 
         *ngIf="displaySubCategories && courseItem.subCategories && courseItem.subCategories.length"
         [id]="'subcategories-' + courseItem.id">
        <h4>{{ 'courses.subcategories' | translate }}</h4>
        <ul class="subcategory-list" role="list">
            <li *ngFor="let subCategory of courseItem.subCategories" 
                role="listitem"
                class="subcategory-item">                <div class="subcategory-details">
                    <h5>{{ subCategory.name }}</h5>                    <p *ngIf="subCategory.duration"><strong>{{ 'courses.duration' | translate }}:</strong> {{ subCategory.duration }}</p>
                    <p *ngIf="subCategory.qualification"><strong>{{ 'courses.qualification' | translate }}:</strong> {{ subCategory.qualification }}</p>
                    <p *ngIf="subCategory.certification"><strong>{{ 'courses.certification' | translate }}:</strong> {{ subCategory.certification }}</p>
                    
                    <!-- Handle venue as either string or array -->
                    <div *ngIf="subCategory.venue" class="venue-container">
                      <p><strong>{{ 'courses.venue' | translate }}:</strong></p>
                      <ul *ngIf="isVenueArray(subCategory.venue)" class="venue-list">
                        <li *ngFor="let location of subCategory.venue">{{ location }}</li>
                      </ul>
                      <p *ngIf="!isVenueArray(subCategory.venue)">{{ subCategory.venue }}</p>
                    </div>
                    
                    <p *ngIf="subCategory.details" class="subcategory-details-text">{{ subCategory.details }}</p>
                    <a *ngIf="subCategory.link" 
                          [href]="subCategory.link"
                       class="subcategory-link"
                       [attr.aria-label]="'Learn more about ' + subCategory.name">
                        {{ 'courses.learnMore' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</div>