<footer class="footer">
    <div class="footer-contact">
        <div class="address">
            <h3>Address</h3>
            <p>8A Vos Street</p>
            <p>Middelburg, MP, 1055</p>
            <p>South Africa</p>
        </div>
        <div class="contact">
            <h3>Contact</h3>
            <p>+27 83 276 5557</p>
            <p><a href="mailto:middelburg@suscawatts.co.za">middelburg&#64;suscawatts.co.za</a></p>
        </div>
        <div class="hours">
            <h3>Hours</h3>
            <p>Mon 8am-4pm</p>
            <p>Tue 8am-4pm</p>
            <p>Wed 8am-4pm</p>
            <p>Thu 8am-4pm</p>
            <p>Fri 8am-3pm</p>
        </div>
    </div>

    <div class="social-icons">
        <a href="https://facebook.com" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://instagram.com" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    
    <div class="footer-copyright">
        <p>&copy; 2025 Susca Watts Academy. All rights reserved.</p>
    </div>
</footer>