
<section class="navbar">
    <div class="navbar-logo">
        <img src="//images.squarespace-cdn.com/content/v1/5c594957b2cf7927a3143d13/1590401175786-FOW04OPCKJN9LK548U4D/WhatsApp+Image+2020-05-18+at+15.38.20.jpeg?format=1500w">
    </div>
    <nav class="navbar-menu">
        <ul>
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
     </nav>
</section>

