<section class="list-item">
    <div class="list-item-content" 
         (click)="navigateToItem()" 
         (keydown.enter)="navigateToItem()"
         tabindex="0"
         role="button"
         [attr.aria-label]="'Explore ' + item.heading">
        <div class="icon-circle">
            <i [class]="item.icon" aria-hidden="true"></i>
        </div>
        <h3 class="list-item-heading">{{ item.heading }}</h3>
        <p class="list-item-description">{{item.description}}</p>
        <div class="list-item-actions">
            <span class="btn-explore">Explore <i class="fas fa-arrow-right"></i></span>
        </div>
    </div>
</section>
