.home-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.home-header p {
    margin: 1rem;
    font-family: var(--primary-font);
    text-align: center;
}

.home-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 0.2rem;
}

.carousel-container {
    max-width: 70%;
    margin: 0 auto;
    padding-top: 1rem;
}