<section class="home">
    <div class="home-header">
        <p>Welcome to Our Website</p>
        <p class="title-secondary">Your one-stop solution for all your needs.</p>
        <p>“Make the most of what you have and keep your standards high. Never settle for anything less than you deserve
            or are capable of achieving.” - Roy T. Bennett</p>
    </div>
    <div class="home-content">
        <div *ngFor="let item of listItems" class="home-item">
            <app-list-item [item]="item"></app-list-item>
        </div>
    </div>
    <div class="carousel-container">
        <app-carousel [images]="[
        'assets/images/example-image-1.png',
        'assets/images/example-image-2.png',
        'assets/images/example-image-3.png',
        'assets/images/example-image-4.png',
        'assets/images/example-image-2.png',
        'assets/images/example-image-1.png',]"
        [visibleImages]="3">
        </app-carousel>
    </div>
</section>